*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.conteiner{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.borda-corpo{
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 620px;
    background-color: rgb(32, 42, 46);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: inset 10px -10px 40px 0px rgb(17, 22, 24), -20px 20px 50px 10px rgb(8, 8, 8);

}
.corpo{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: rgb(32, 42, 46);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow:  1px -1px 0px 0px rgb(55, 72, 78), inset -5px 5px 0px 0px rgb(28, 35, 39), inset 1px -1px 0px 0px rgb(55, 72, 78),-10px 10px 10px 0px rgb(17, 22, 24)  ;
    border: 10px solid rgb(32, 42, 46) ;
    overflow: hidden;
}

.tela{
    display: flex;
    justify-content: center;
    width: 65%;
    height: 200px;
    border-radius: 1000em 1000em 50em 50em;
    margin-top: 40px;
    transform:scaleX(120%);
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    overflow: hidden;
    

}
.objeto{
    display: flex;
    width: 100px;
    height: 110px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    transform: translateY(200px);
}
.grama{
    width: 100%;
    height: 20%;
    display: flex;
    background-image: url(img/grama.png);
    background-size: cover;
}
.teclas {
    display: flex;
    width: 130px;
    height: 130px;
    background-color: rgb(32, 42, 46);
    box-shadow: inset 0 0 30px -10px rgb(55, 72, 78), -10px 10px 20px 0px rgb(8, 8, 8);
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: relative;
    transition: transform 0.5s ease;
    margin-left: 10px;
}

.botao {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
    transition: transform 0.4s ease-in-out;
    transition: 0.5s;

}


.botao:nth-child(1) { top: 20%; left: 50%; transform: translate(-50%, -50%); }
.botao:nth-child(2) { top: 50%; left: 80%; transform: translate(-50%, -50%); }
.botao:nth-child(3) { top: 80%; left: 50%; transform: translate(-50%, -50%); }
.botao:nth-child(4) { top: 50%; left: 20%; transform: translate(-50%, -50%); }
.botao:nth-child(5) { top: 30%; left: 70%; transform: translate(-50%, -50%); }
.botao:nth-child(6) { top: 70%; left: 70%; transform: translate(-50%, -50%); }
.botao:nth-child(7) { top: 30%; left: 30%; transform: translate(-50%, -50%); }
.botao:nth-child(8) { top: 70%; left: 30%; transform: translate(-50%, -50%); }


.icon{
    transform: scale(0.8);
    color: white;
    transition: 0.2s ease-in-out;
}

.sol{
    background: url(/img/sol.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.8);
}
.lua{
    background: url(/img/lua.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(1.1);

}
.noite{
    box-shadow: inset 0px 0px 30px 5px rgb(0, 0, 0);
    background: url(/img/ceu-noite.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 20px 10px rgb(10, 2, 32),0px 0px 50px 10px black, 1px -1px 0px 0px white;
}
.dia{
    background: url(/img/ceu-dia.jpg);
    background-size: cover;
    filter: brightness(1.1);
    box-shadow: inset 0px 0px 20px 10px rgb(51, 151, 209),0px 0px 50px 10px black, 1px -1px 0px 0px white;
}

.animacao{
    animation: surgir 1s forwards ease-in-out;
}
.alignObject{
    transform: translateY(0px);
}
@keyframes surgir {
    from{
        transform: translateY(200px);
    }
    to{
        transform: translateY(0px);
    }
    
}
.nuvem{
    position: absolute;
    width: 110px;
    height: 70px;
}
.clima{
    display: flex;
    position: absolute;
    width: 110px;
    height: 70px;
    background: url(/img/nuvem.png);
    background-size: cover;
    background-position: center;
    filter: grayscale(0.6);
    transform: translateX(40px);
    animation: surgir-nuvem 1s reverse ease-in-out;
    top:25%;
}
.clima2{
    display: flex;
    position: absolute;
    width: 110px;
    height: 70px;
    background: url(/img/nuvem.png);
    background-size: cover;
    background-position: center;
    filter: grayscale(0.6);
    transform: translateX(-40px);
    animation: surgir-nuvem2 1s reverse ease-in-out;
    top:25%;

}
@keyframes surgir-nuvem {
    from{
        
    }
    to{
        transform: translateX(200px);
    }
    
}
@keyframes surgir-nuvem2 {
    from{
        
    }
    to{
        transform: translateX(-200px);
    }
    
}
.meio{
    display: flex;
    height: 50%;
    width: 80%;
    /* border: 1px solid red; */
}
.reparticao{
    display: flex;
    /* border: 1px solid red; */
    align-items: flex-start;
    justify-content: space-around;
    width: 60%;
    gap: 30px;
    height: 80%;
    border-radius:  50em 0px 0px 500em;
    overflow: hidden;
    padding: 20px 20px 0px 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset -1px 1px 1px 0px white;
    
}
.ligar{
    display: flex;
    /* height: 170px; */
    height: 100%;
    width: 80px;
    /* border: 1px solid red; */
    border-radius: 50px 50px 0px 0px;
    background: rgb(32, 42, 46);
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.ligar-dentro{
    display: flex;
    height: 170px;
    width: 50px;
    /* border: 1px solid red; */
    border-radius: 20px 20px 0px 0px;
    background-color: whitesmoke;
    /* border: 1px solid gray; */
    box-shadow: inset 0px 0px 5px 0px rgb(55, 72, 78), 2px -2px 2px 0px rgb(134, 134, 134);
    align-items: flex-start;
    justify-content: center;
}
.botao-ligar{
    margin-top: 30px;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(32, 42, 46);
    cursor: pointer;
    box-shadow: inset 0px 0px 2px 0px gray, -1px 1px 5px 0px rgb(53, 53, 53), 3px -3px 3px 0px whitesmoke;
    transition: 0.2s ease-in-out;
}
.active-power{
    /* transform: rotate(360deg); */
    border:none;
    box-shadow: 0px 0px 10px 0px rgb(32, 42, 46), inset 0px 0px 10px 0px rgb(32, 42, 46);
    transition: 0.2s ease-in-out;
    transform: scale(0.9);
}
.power{
    display: flex;
    color: white;
    transform: scale(0.8);
    /* border: 1px solid red; */
   align-items: center;
   justify-content: center;
   width: 50%;
}
.botao-ligar.active-power .power {
    color: rgb(255, 255, 255); /* Altere a cor do ícone para aqua */
}
.botao.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    transition: 0.5s;
}

.reparticao2{
    display: flex;
    flex-direction: column;
    /* height: 170px; */
    width: 40%;
    height: 80%;
    border-radius:  0px 50em  1000em 0px;
    margin-left: 2px;
    background-color: white;
    box-shadow: inset 10px 0px 20px 0px rgb(200, 200, 200);
    justify-content: start;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.barra{
    width: 100px;
    height: 5px;
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: rgb(32, 42, 46);
}
.temperatura{
    display: flex;
    width: 100px;
    height: 50px;
    /* border: 1px solid red; */
    background: rgb(32, 42, 46);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 0px black, 1px -1px 5px 0px rgb(12, 12, 12);
}
.temp-text{
    font-family: "Handjet", sans-serif;
    color: greenyellow;
    text-shadow: greenyellow 0em 0em 1em;
}