*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.conteiner{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.corpo{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 70%;
    background-color: gray;
    border-radius: 50%;
    align-items: center;
    justify-content: flex-start;


}

.tela{
    display: flex;
    justify-content: center;
    background-color: darkblue;
    width: 65%;
    height: 200px;
    border-radius: 1000em 1000em 0 0;
    margin-top: 40px;
    transform:scaleX(110%)

}
.objeto{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 100%;
    margin-top: 10px;
}
.teclas{
    display: flex;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(61, 135, 161);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 100%;
}
.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgb(84, 179, 216);
    border-radius: 100%;
    box-shadow: inset -2px -2px 2px 2px rgb(44, 94, 114),0px 0px 10px rgb(0, 0, 0);
    

}
.botao:focus{
    box-shadow: inset -0px -0px 0px 0px rgb(44, 94, 114),0px 0px 10px rgb(0, 0, 0);
    background-color: rgb(72, 152, 184);
    transition: 0.1s ease-in-out;
    transform: translateX(2px);
    transform: translateY(2px);
}
.sol{
    background-color: yellow;

}
.lua{
    background-color: white;
}
.noite{
    background-color: darkblue;
}
.dia{
    background-color: cyan;
}